#head_wrapper .soutu-env-mac .has-voice #kw{width:411px;padding-right:119px}
#head_wrapper.s-down .soutu-env-mac .has-voice #kw{width:411px;padding-right:119px}
#head_wrapper .soutu-env-mac #kw,#head_wrapper .soutu-env-nomac #kw{width:443px;padding-right:87px}
#head_wrapper.s-down .soutu-env-mac #kw,#head_wrapper.s-down .soutu-env-nomac #kw{width:443px;padding-right:87px}
#head_wrapper .soutu-env-mac .sam_search.has-voice #kw{width:393px;padding-right:139px}
#head_wrapper.s-down .soutu-env-mac .sam_search.has-voice #kw{width:393px;padding-right:139px}
